<!DOCTYPE HTML>
<html id="ng-app" ng-app="app" lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <!-- JS libs -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/angularjs/1.3.15/angular.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-strap/2.3.3/angular-strap.min.js"></script>
    <script src="../src/js/promise-tracker.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="http://fgnass.github.io/spin.js/spin.min.js" type="text/javascript"></script>
    <script src="../src/js/spinner-settings.js" type="text/javascript"></script>
    <script src="../node_modules/angular-input-masks/releases/angular-input-masks-standalone.min.js"></script>


    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!--    <link href="../dist/css/component.css" rel="stylesheet" type="text/css" />-->
    <link href="../dist/css/202.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="../dist/css/angular-range-slider.css" />
</head>
<body ng-controller="FormCtrl">

    <div id="loading"></div>

<div class="container-fluid" id="main_body">

    <header class="row">
        <div id="top-section" class="container">
            <div id="logo-tagline-section" class="">
                <div id="logo_bar" class="row">
                <div class="logo col-lg-4 col-md-4 col-sm-5 col-xs-6"></div>
                </div>
            </div>

            <div id="tagline" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div id="tagline-background">
                    <!-- the text in this div will not appear onscreen - it's just there as a placeholder -->
                    <h1>LOWER YOUR ELECTRIC BILL UP TO 70%</h1>
                    <p>Switch to solar energy and start saving.</p>
                </div>
                <div id="first_tagline" class="header-text">
                    <h1>LOWER YOUR ELECTRIC BILL UP TO 70%</h1>
                    <p>Switch to solar energy and start saving.</p>
                </div>
                <div id="second_tagline" class="collapse header-text">
                    <h1>ARE YOU ELIGIBLE FOR A FEDERAL TAX CREDIT?</h1>
                    <p>Based on your location, you may qualify.</p>
                </div>
                <div id="third_tagline" class="collapse header-text">
                    <h1>WITH $0 DOWN &amp; FREE INSTALLATION...</h1>
                    <p>Now is the time for solar!</p>
                </div>
            </div>

        <!-- form starts here -->
            <div class="steps col-xs-12 col-sm-12 col-md-6 col-lg-6">
        		<form id="form" ng-submit="solar_submit()" novalidate="novalidate" class="ng-valid ng-dirty" _lpchecked="1">
    	    		<div class="form-arrow"></div>
                    <div class="form-header">
                        <p id="calc_savings" class="signup-header-subtext">CALCULATE YOUR SAVINGS NOW!</p>
                    </div>

                    <div class="form-content">
                        <div class="form-section" data-step="1" id="step1" style="display: none;">

                			<p class="form-heading">What is your average electric bill per month?</p>
                			<select id="electric_bill" name="electric_bill" ng-model="data.average_country_id" class="ng-valid ng-dirty valid" aria-required="true" aria-invalid="false">
                				<option value="">SELECT</option>
                                <option value="25">$0 - $49</option>
                                <option value="75">$51 - $99</option>
                                <option value="125">$100 - $149</option>
                                <option value="175">$150 - $199</option>
                                <option value="225" ng-selected="true" selected="selected">$200 - $249</option>
                                <option value="275">$250 - $299</option>
                                <option value="325">$300 - $349</option>
                                <option value="375">$350 - $399</option>
                                <option value="425">$400 - $449</option>
                                <option value="475">$450 - $499</option>
                                <option value="525">$500 - $549</option>
                                <option value="575">$550 - $599</option>
                                <option value="625">$600 - $649</option>
                                <option value="675">$650 - $699</option>
                                <option value="725">$700 - $749</option>
                                <option value="775">$750 - $799</option>
                                <option value="825">$800+</option>
                			</select>
                            <input type="button" value="CONTINUE" class="continue" id="step-1-next">
                		</div>

                        <div class="form-section" id="step2" data-step="2" style="display: none;">



                			<p class="form-heading">Do you own your own home?</p>
                			<select id="homeowner" name="homeowner" ng-model="data.home_owner" class="ng-valid ng-dirty valid" aria-required="true" aria-invalid="false">
                				<option value="">SELECT</option>
                                <option value="Y" ng-selected="true" selected="selected">Yes</option>
                                <option value="N">No</option>
                			</select>
                            <input type="button" value="CONTINUE" class="continue" id="step-2-next">
                		</div>

                        <div class="form-section error" id="step3" data-step="3" style="display: block;">



                			<p class="form-heading">What is your address?</p>
                            <input id="address" name="address" placeholder="STREET ADDRESS" type="text" ng-model="data.street_address" class="ng-valid ng-dirty valid" autocomplete="off" style="cursor: auto; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==); background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" aria-required="true" aria-invalid="false"><label id="address-error" class="error" for="address" style="display: none;"></label>
                            <input id="city" name="city" placeholder="CITY" type="text" ng-model="data.city" class="ng-valid ng-dirty valid" aria-invalid="false">
                            <input id="state" name="state" ng-model="data.state" type="text" placeholder="STATE" maxlength="2" class="ng-pristine ng-valid">
                            <input id="zip" name="zip" placeholder="ZIP CODE" value="" type="text" ng-model="data.zip" maxlength="5" class="ng-pristine ng-valid error" aria-required="true" aria-invalid="true"><!--<label id="zip-error" class="error" for="zip" style="display: inline-block;">This field is required.</label>-->
                            <input type="button" value="CONTINUE" class="continue" id="step-3-next" ng-click="inject_elec_providers()">
                		</div>

                        <div class="form-section" id="step4" data-step="4">



                			<p class="form-heading">Your contact information?</p>
            				<input type="text" class="text ng-pristine ng-valid" id="first_name" name="first_name" placeholder="FIRST NAME" ng-model="data.first_name">
                            <input type="text" class="text ng-pristine ng-valid" id="last_name" name="last_name" placeholder="LAST NAME" ng-model="data.last_name">
                            <input type="text" class="text ng-pristine ng-valid" id="email_address" name="email_address" placeholder="EMAIL ADDRESS" ng-model="data.email_address">
                            <input type="button" value="CONTINUE" class="continue" id="step-4-next">
                		</div>

                        <div class="form-section" id="step5" data-step="5">
                            <div class="form-section-partial">



                			<p class="form-heading">What is your phone number?</p>
                			<input type="text" class="text ng-pristine ng-valid" id="home_phone" name="home_phone" ng-model="data.home_phone">
                            </div>
                            <div class="form-section-partial">
                            <p class="form-heading">Your current utility provider?</p>
                			<select id="provider" name="provider" ng-model="data.field_2" ng-options="provider.value as provider.text for provider in providers" class="ng-pristine ng-valid"><option value="?"></option><option value="0">Other</option></select>
                            </div>
                            <input name="publisher_id" id="publisher_id" ng-model="data.publisher_id" value="" type="hidden" class="ng-pristine ng-valid">
                            <input name="server_code" id="server_code" ng-model="data.server_code" ng-value="NER" type="hidden" class="ng-pristine ng-valid">
                            <input id="upload_type" name="upload_type" ng-model="data.upload_type" ng-value="NER" type="hidden" class="ng-pristine ng-valid">
                            <input name="subid" id="subid" ng-model="data.subid" type="hidden" class="ng-pristine ng-valid">
                            <input name="rcid" id="rcid" ng-model="data.rcid" type="hidden" class="ng-pristine ng-valid">
                            <input value="Solar" name="type" ng-model="data.type" type="hidden" class="ng-pristine ng-valid">
                            <input id="leadid_token" name="universal_leadid" type="hidden" value="">
                            <input type="submit" value="GET FREE QUOTE" class="continue" id="step-5-submit">
                            <!--
							<p class="disclaimer collapse" id="tcpa">By clicking the above button I hereby consent to receive autodialed and/or pre-recorded telemarketing calls from up to 5 <a href="http://www.nationalenergyreduction.com/solar_partners.php" onClick="window.open(this.href,'popupwindow', 'width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable'); return false;" >partners</a> at the telephone number provided above even if my number is on the Do Not Call list. I understand that consent is not a
condition of purchase.</p>
-->
							<p class="disclaimer" id="tcpa"><label><input type="hidden" id="leadid_tcpa_disclosure">By clicking "get free quote" you electronically agree to share your information with up to 5 <a href="http://www.nationalenergyreduction.com/solar_partners.php" onclick="window.open(this.href,'popupwindow', 'width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable'); return false;">partners</a> and for them to contact you (including through automated means; autodialing, text and pre-recorded messaging) via telephone, mobile device (including SMS and MMS) and/or email, even if your telephone number is currently listed on any state, federal or corporate Do Not Call list and you electronically agree to our <a href="" class="terms-tc">Terms of Use</a> and <a href="" class="terms-pp">Privacy Policy</a>. This consent is not a condition of a purchase.</label></p>

                		</div>
                    </div>
        		</form>
                <div id="map-canvas"></div>
            </div>
        </div>
    </header>

	<section class="section col-lg-12">
        <div class="section_divider"></div>
    	<div class="wrapper">
            <div class="container">
        		<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 left">
        			<h2>SOLAR ENERGY PROVIDES THE PERFECT SOLUTION TO MANY CONTEMPORARY PROBLEMS.</h2>
        			<p>Solar power makes your life easier. Maybe you’ve heard about the benefits of solar already. But did you know that much like your monthly bill, with solar, you can pay for the power that you use, and not for the solar panels themselves? It’s true. With solar energy, you get all the power you need for your home or business, and it costs less – locked-in rates that are predictable, month over month.</p>
        			<p><strong>And solar panel installation is free</strong> – simply install the panels on your roof, and watch the savings add up every year.</p>
        		</div>
        		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 right">
        			<h3>SOLAR BENEFITS</h3>
        			<ul>
        				<li><span class="glyphicon glyphicon-ok"></span>Lower your electric bill up to 70%.</li>
        				<li><span class="glyphicon glyphicon-ok"></span>$0 down options let you start saving today!</li>
        				<li><span class="glyphicon glyphicon-ok"></span>Rebates, tax breaks and incentives offset your costs.</li>
        				<li><span class="glyphicon glyphicon-ok"></span>Average U.S houses saves over $33,095 with solar.</li>
        			</ul>
        		</div>
            </div>
    	</div>
	</section>

    <footer>

    	<p class="copyright">2015 National Energy Reduction</p>
    	<p><a href="" class="terms-pp">PRIVACY POLICY</a> | <a href="" class="terms-tc">TERMS &amp; CONDITIONS</a>  | <a href="" class="terms-un">UNSUBSCRIBE</a></p>

    	<p class="footer_disclaimer">This website is an advertising market place for individuals and companies who are seeking consumer referrals for solar products. We are not a solar manufacturer or installer. The information provided by you to us will be sent to a licensed solar manufacturer or installer in your area. We do not endorse, warrant or guarantee any service or products of any individual or company you choose to install your solar system. Federal and State tax credits are not available in all locations and not available to all individuals.</p>

    </footer>

 <script src="../src/js/202.js"></script>

    </body>
</html>