<div id="messages" class="alert alert-success" ng-show="messages" ng-bind="messages"></div>
<form name="propForm" class="form-inline" role="form" novalidate>
    <div class="row">
      <div class="form-group col-lg-12">
        <label for="address">Address</label>
        <span class="label label-danger" ng-show="propForm.address.$error.required">Required</span>
        <span class="label label-danger" ng-show="propForm.address.$error.pattern">Required</span>
        <input type="text" class="form-control" name="address" id="address" placeholder="Address" ng-model="address" ng-pattern="/^\s*\S+(?:\s+\S+){2}/" required />
      </div>
      <div class="form-group col-lg-12" style="margin-top:20px;">
        <label for="zip">ZIP Code</label>
        <span class="label label-danger" ng-show="propForm.zip.$error.required">Required</span>
          <span class="label label-danger" ng-show="propForm.zip.$error.pattern">Invalid</span>
        <input type="text" name="zip" class="form-control" id="zip" placeholder="ZIP Code" ng-model="zip" maxlength="5" ng-pattern="/^(\d{5}-\d{4}|\d{5})$/" required />  
      </div>
    </div>
    <div class="row" style="margin-top:20px;"></div>
    <div class="row" ng-if="$index != 0"><a class="btn btn-default btn-lg next" href="#/{{slides[slide.next].label}}" ng-click="dat.setPanel(slide.next); update('propertyAddress',address); update('propertyZip',zip)" ng-disabled="propForm.$invalid;" style="margin-top:20px;">Next</a></div>
    <div class="row" ng-if="$index != 0"><a class="btn btn-sm prev" href="#/{{slides[slide.prev].label}}" ng-click="dat.setPanel(slide.prev);">Back</a></div>
</form>